body {
  background-color: whitesmoke;
}

.container {
display: inline-block;
text-align: left;
position: fixed;
width: 40%;
top: 10%;
left: 50%;
transform: translate(-50%, -10%); 
font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
line-height: 1.5em;
}
h1 {
font-size: 20px;
}

a:link, a:visited{
color:black;
}

p {
  font-size: 14px;
}